*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size:.95rem;
    font-family: 'Poppins';
    
    
}

.container{
    width: 100%;
    padding: 2em;
    margin: 0 auto;
    background-color:   hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.second{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-bottom: .5em;
}


.up p{
    font-weight: 200;
    color:  hsl(229, 6%, 66%);
    font-size: .8rem;
   
       

    
}

.down p{
    font-weight: 200;
    color:  hsl(229, 6%, 66%);
    font-size: .6rem;
}

.down h3{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
    font-size: 1rem;
}

/*===================*/

.up{
width: 40%;
text-align: center;
 margin-bottom: 3em;
}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .left, .mid, .right{
    width:30%;
    
}

.down .left,.right,.mid .mi-tp,.mi-dn{
   
  padding: 1.5em;
    
  -webkit-box-shadow: 3px 5px 5px  #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 5px 5px  #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 5px 5px  #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}

.down .mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.down .mid .mi-tp{
     margin-bottom: 3em;
}


.down .img img{
    width:50px;
    float: right;
}




.left{
    
    border-top: 4px solid hsl(180, 62%, 55%);
}

.right{
    
    border-top: 4px solid hsl(212, 86%, 64%);
}

.mid .mi-tp{
    
    border-top: 4px solid hsl(0, 78%, 62%);
}


.mid .mi-dn{
    
    border-top: 4px solid hsl(34, 97%, 64%);
}




@media(max-width:550px){
    .down{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    .mid ,.left,.right{
        width: 100%;
        
    }
    .left,.right{
        margin-bottom: 3em;
    }
    .up{
        width: 100%;
    }
}

















